* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eef0f7;
  display: grid;
  place-items: center;
  min-height: 100vh;
  overflow: hidden;
}
.container {
  background-color: #fff;
  width: 750px;
  height: 450px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  line-height: 1.5;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}
.container::after {
  content: "";
  position: absolute;
  background-image: linear-gradient(to bottom right,#77DD77,#FF6961);
  width: 900px;
  height: 900px;
  border-radius: 50%;
  z-index: -1;
}
.container-close {
  position: absolute;
}
.container img {
  width: 350px;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
}
.container-text {
  padding: 40px 20px 40px 20px;
}
.container-text h2 {
  font-size: 1.5rem;
  color: #1a2250;
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-transform: uppercase;

}

.container-text p {
  font-size: 16px;
  padding-bottom: 20px;
  color: #3b4169;
  margin: 10px 0;
  display: block;
}
.container-text input, .container-text button {
  width: 100%;
  border: none;
  padding: 14px;
  border-radius: 3px;
}
.container-text input {
  border: 2px solid #daddec;
  margin: 5px 0 10px;
  font-size: 1rem;
  color: #656880
}


.container-text button {
  background-image: linear-gradient(to right, #EEC148, #77DD77);
  display: block;
  color: #fff;
  margin-top: 10px;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 5px 20px #89caff 94;
  transition: box-shadow 0.3s ease-in-out;
}
.container-text button:hover {
  box-shadow: none;
}
.container-text span {
  display: block;
  text-align: center;
  margin: 20px 0 0;
  color: #babdcb;
  font-size: 12px;
}


    button {
      background-image: linear-gradient(to right,#EEC148, #77DD77);
      display: block;
      color: primary-color;
      font-size: 1rem;
      cursor: cursor;
      box-shadow: 0 5px 20px #89caff94;
      transition: box-shadow 0.3s ease-in-out;
    }

    button:hover {
      box-shadow: none;


    .resultbox {
      display: block;
    }
    }
    .lds-roller {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-roller {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;
    }
    .lds-roller div {
      animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      transform-origin: 40px 40px;
    }
    .lds-roller div:after {
      content: " ";
      display: block;
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #A9A9A9;
      margin: -4px 0 0 -4px;
    }
    .lds-roller div:nth-child(1) {
      animation-delay: -0.036s;
    }
    .lds-roller div:nth-child(1):after {
      top: 63px;
      left: 63px;
    }
    .lds-roller div:nth-child(2) {
      animation-delay: -0.072s;
    }
    .lds-roller div:nth-child(2):after {
      top: 68px;
      left: 56px;
    }
    .lds-roller div:nth-child(3) {
      animation-delay: -0.108s;
    }
    .lds-roller div:nth-child(3):after {
      top: 71px;
      left: 48px;
    }
    .lds-roller div:nth-child(4) {
      animation-delay: -0.144s;
    }
    .lds-roller div:nth-child(4):after {
      top: 72px;
      left: 40px;
    }
    .lds-roller div:nth-child(5) {
      animation-delay: -0.18s;
    }
    .lds-roller div:nth-child(5):after {
      top: 71px;
      left: 32px;
    }
    .lds-roller div:nth-child(6) {
      animation-delay: -0.216s;
    }
    .lds-roller div:nth-child(6):after {
      top: 68px;
      left: 24px;
    }
    .lds-roller div:nth-child(7) {
      animation-delay: -0.252s;
    }
    .lds-roller div:nth-child(7):after {
      top: 63px;
      left: 17px;
    }
    .lds-roller div:nth-child(8) {
      animation-delay: -0.288s;
    }
    .lds-roller div:nth-child(8):after {
      top: 56px;
      left: 12px;
    }
    @keyframes lds-roller {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
